# Environment variables for Docker Compose
# Copy this file to .env and fill in your actual values

DB_HOST=localhost
DB_PORT=5435
DB_USERNAME=dikshant
DB_PASSWORD=postgres
DB_NAME=care_connect

# JWT Configuration
JWT_SECRET=my_secret_key
JWT_EXPIRES_IN=30m

# Google AI Configuration
GEMINI_API_KEY=your_google_api_key_here

# Server Configuration
PORT=3000

# AWS S3 Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_S3_BUCKET_NAME=your_bucket_name_here


# RAG server base url
BOT_SERVER_BASE_URL=http://65.2.130.235:8080